<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nature.jet.mapper.au.NewsMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
    <cache-ref namespace="com.nature.jet.mapper.au.NewsMapper"></cache-ref>
    <!--基础 表字段定义 -->
    <sql id="basicColumn">
        createTime,author,isPublic,fileurl,id,title,synopsis,showImg
    </sql>

    <!-- 查询所有数据 -->
    <select id="list" resultType="com.nature.jet.pojo.au.News" parameterType="java.lang.String">
        select
        <include refid="basicColumn"/>
        from au_news
        <where>
            <if test="key != null and key != '' ">
                author like CONCAT(concat('%',#{key}),'%')
                or title like CONCAT(concat('%',#{key}),'%')
            </if>
        </where>
        order by id desc
    </select>

    <!-- 根据ID查询数据 -->
    <select id="findById" resultType="com.nature.jet.pojo.au.News" parameterType="java.lang.Integer">
        select <include refid="basicColumn"></include> from au_news where id = #{id}
    </select>

    <!-- 新建 -->
    <insert id="add" parameterType="com.nature.jet.pojo.au.News" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO au_news ( createTime,author,isPublic,fileurl,id,title,synopsis,showImg )
        VALUES ( #{createTime},#{author},#{isPublic},#{fileurl},#{id},#{title},#{synopsis},#{showImg} )
    </insert>

    <!-- 修改-->
    <update id="modify" parameterType="com.nature.jet.pojo.au.News">
        UPDATE au_news SET author = #{author},isPublic = #{isPublic},fileurl = #{fileurl},title = #{title},synopsis=#{synopsis}
        ,showImg=#{showImg}
        WHERE  id = #{id} 
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM au_news WHERE  id = #{id}
    </delete>

    <!-- 批量删除-->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM au_news WHERE isPublic = 1 and id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>

    <!-- 展示已发布 -->
    <select id="listPublic" resultType="News">
        select
        <include refid="basicColumn"/>
        from au_news where isPublic = 1 order by createTime desc
    </select>

</mapper>
