<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nature.jet.mapper.web.ModulesMapper">

    <!--基础 表字段定义 -->
    <sql id="basicColumn">
        note,isPublic,id,title,url,parentId,enTitle
    </sql>

    <!-- 查询所有数据 -->
    <select id="list" resultType="com.nature.jet.pojo.web.Modules" parameterType="java.lang.String">
        select
        <include refid="basicColumn"/>
        from web_modules
        where id > 0
        <if test="key != null and key != '' ">
            and (
            note like CONCAT(concat('%',#{key}),'%')
            or title like CONCAT(concat('%',#{key}),'%')
            )
        </if>
        order by id desc
    </select>

    <!-- 根据ID查询数据 -->
    <select id="findById" resultType="com.nature.jet.pojo.web.Modules" parameterType="java.lang.Integer">
        select <include refid="basicColumn"></include> from web_modules where id = #{id}
    </select>

    <!-- 新建 -->
    <insert id="add" parameterType="com.nature.jet.pojo.web.Modules" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO web_modules ( note,isPublic,id,title,url,parentId,enTitle )
        VALUES ( #{note},#{isPublic},#{id},#{title},#{url},#{parentId},#{enTitle} )
    </insert>

    <!-- 修改-->
    <update id="modify" parameterType="com.nature.jet.pojo.web.Modules">
        UPDATE web_modules SET note = #{note},isPublic = #{isPublic},title = #{title},url = #{url},parentId = #{parentId}
        WHERE  id = #{id} 
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM web_modules WHERE  id = #{id}
    </delete>

    <!-- 批量删除-->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM web_modules WHERE id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>

    <select id="listPublicParent" resultType="Modules">
        select
        <include refid="basicColumn"/>
        from web_modules where parentId = 0 and isPublic = 1
    </select>

    <select id="listParent" resultType="Modules">
        select
        <include refid="basicColumn"/>
        from web_modules
        where id > 0 and parentId = 0
        order by id asc
    </select>

    <select id="listSub" resultType="Modules">
        select
        <include refid="basicColumn"/>
        from web_modules
        where id > 0 and parentId != 0
        order by id asc
    </select>

    <update id="useById" parameterType="java.lang.Integer">
        update web_modules set isPublic = (isPublic+1)%2 where id = #{id}
    </update>

    <update id="useByParentId">
        update web_modules set isPublic = #{isPublic} where parentId = #{id}
    </update>

    <select id="checkEnTitle" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from web_modules where enTitle = #{enTitle}
    </select>


</mapper>
