<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/> <!-- 日志 -->
    </settings>

    <!-- 配置 pojo类包 -->
    <typeAliases>
        <package name="com.nature.jet.pojo"/>
    </typeAliases>
</configuration>