@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    width: 100%;
    min-height: 100%;
}
.fr {
    float: right;
}
.font16 {
    font-size: 16px;
}
.rightMenu {
    position: absolute;
    width: 120px;
    line-height: 24px;
    z-index: 999;
    background: #FFF;
    border: 1px solid #F2F2F2;
    border-bottom: none;
    border-radius: 3px;
    display: none;
}
.rightMenu li {
    display: block;
    padding: 4px 10px;
    color: #CCC;
    border-bottom: 1px solid #F2F2F2;
}
.rightMenu li:hover {
    background: #EEE;
    color: #666;
}
/**treeselect*/
.layui-form-select .layui-tree {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}
.layui-form-selected .layui-tree {
    display: block;
}
.weadmin-trailer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    color: #ccc;
}
.register-bg {
    /*background: #eeeeee 0 0 no-repeat;*/
    /*background: url(../images/bg.png) no-repeat center;*/
    background-color:#f3f3f3;
    background-size: cover;
    overflow: hidden;
}
.register {
    margin: 20px auto 0 auto;
    min-height: 420px;
    max-width: 820px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
.register a.logo {
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}
.register .message {
    margin: 0px 0 0 -58px;
    padding: 18px 10px 18px 60px;
    background: #666666;
    width:30%;
    position: relative;
    color: #fff;
    font-size: 16px;
}
.register #darkbannerwrap {
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}
.register input[type=text],
.register input[type=file],
.register input[type=password],
.register input[type=email],
.register select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    //height: 50px;
    padding: 0px 16px;
    font-size: 14px;
    color: #555555;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.register input[type=text]:focus,
.register input[type=file]:focus,
.register input[type=password]:focus,
.register input[type=email]:focus,
.register select:focus {
    border: 1px solid #27A9E3;
}
.register input[type=submit],
.register input[type=button] {
    display: inline-block;
    padding: 12px 24px;
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    background-color: #666666;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    width: 100%;
}
.register hr {
    background: #fff 0 0 no-repeat;
}
.register hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.register hr.hr20 {
    height: 20px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.linkOther{

}
.linkOther a{
    color:#666;!important;
}